.popup-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: -3;
  transition: all 0.7s ease;
}

.popup-container.show {
  opacity: 1;
  z-index: 2;
}

.popup-container.show .popup {
  opacity: 1;
}

.popup {
  background-color: var(--secondary);
  border-radius: 10px;
  width: 400px;
  opacity: 0;
  transition: all 0.7s ease;
}

.popup h2 {
  background-color: purple;
  padding: 1rem;
  padding-bottom: 0;
  text-align: center;
  font-size: 2rem;
  border-radius: 10px 10px 0 0;
  font-family: "Tabassom";
  user-select: none;
}

.popup h3 {
  text-align: center;
  font-family: "Tabassom";
  font-size: 2rem;
  background-color: purple;
  padding-bottom: 1rem;
}

.popup button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
  height: 80px;
  overflow: none;
  font-size: 2rem;
  font-family: "Lalezar";
}
