.fiqure-container {
  position: absolute;
  left: 40%;
  top: 40%;
  transform: translate(-40%, -30%);
  fill: transparent;
  stroke: var(--white);
  stroke-width: 3px;
  stroke-linecap: round;
}

.fiqure-part {
  stroke: initial;
  transition: all 0.7s ease;
  stroke: var(--white);
  opacity: 0;
}

.fiqure-part.show {
  opacity: 1;
}
