.notification-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  font-size: 1.5rem;
  font-family: "Supermercado One";
  background-color: var(--secondary);
  padding: 1rem;
  border-radius: 10px 10px 0 0;
  transition: transform 0.3s ease-in-out;
}

.notification-container.show {
  transform: translate(-50%, 0);
}
