.wrong-letters-container {
  position: absolute;
  background-color: #108cf8;
  border-radius: 5px 10px;
  right: 20%;
  top: 40%;
  transform: translate(-20%, -40%);
  transition: all 0.5s ease;
}

.wrong-letters-container p {
  padding: 1rem;
  border-radius: 5px 10px 0 0;
  font-size: 1.5rem;
  font-family: "Short Stack";
  background-color: var(--black);
  font-family: "Lalezar";
  text-align: center;
}

.wrong-letters {
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
  font-family: "Tabassom";
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 150px;
}

@media screen and (max-width: 700px) {
  .wrong-letters-container {
    position: absolute;
    background-color: #108cf8;
    border-radius: 5px 10px;
    right: 5%;
    top: 40%;
    transform: translate(-5%, -40%);
  }
}
