header {
  width: 90%;
  margin: 2rem auto;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.register {
  display: flex;
}

.register li {
  padding: 1rem;
  text-align: center;
  width: 100px;
  margin-left: 5px;
  background-color: var(--secondary);
  border-radius: 5px;
}

.register a {
  text-decoration: none;
  width: 100%;
  color: var(--primary);
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Lalezar";
  transition: color 0.5s ease;
}

.register a:hover {
  color: white;
}

.hangman-icon {
  font-family: "Iran-Sans";
  padding-bottom: 5px;
  border-bottom: 2px solid var(--secondary);
}

.hangman-icon a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  .hangman-icon a {
    text-decoration: none;
    color: white;
    font-size: 3rem;
  }
}
