:root {
  --primary: #0f2a49;
  --white: #fff;
  --black: #000;
  --secondary: #108cf8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
  color: var(--white);
  overflow-x: hidden;
}
